.main-prod{
    display: flex;
    position: absolute;
    
    justify-content:center;
    padding-top: 10px;
    width: 1200px;
    height: 800px;
    
}

.prod-tela-container{
    display: flex; 
   
    width: 900px;
    height: 600px;   
    
}