.container-main {
    width: 100%;
    height: 100%;
    background-color: rgb(227, 238, 240);
}

.herder-pdv {
    display: flex;
    height: 90px;
    background-color: rgb(103, 140, 150);
    color: white;
}

.inf-operacao-pdv {
    display: flex;
    align-items: center;
    margin: 0px 150px 0px 30px;
    width: 300px;
}

.inf-operacao-pdv h6 {
    display: flex;
    margin-bottom: 0px;
    margin-right: 5px;
    margin-left: 20px;
}

.inf-operacao-pdv a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}

.head-pdv {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 70px;
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: 5px;
    


}

.head-pdv a {

    width: 820px;
    text-decoration: none;
    color: black;
    border: 1px solid rgba(70, 69, 69, 0.158);
    border-top: none;
    margin-left: 30px;

}

.desc-pro-pdv {
    display: flex;
    max-width: 1360px;
    height: 460px;
    margin-left: 30px;
}

.coluna1 {
    width: 500px;
    height: 100%;
   

}

.lista-item-pdv {
    margin-top: 5px;
    width: 480px;
    height: 440px;
    background-color: rgb(253, 251, 215);
}


.coluna2 {
    width: 340px;
    height: 100%;   
    
}

.inf-item-pdv {
    display: flex;
    flex-direction: column;
}

.inp-produto-pdv {
    width: 310px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top: none;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
}
.coidigo-pro-pdv{
    height: 70px;
    background-color: rgb(253, 251, 215);
    margin-bottom: 50px;
}

.coluna3 {
    margin-top: 15px;
    width: 340px;
    height: 100%;
   

}
.teclado-main-pdv{
    display: flex;
    flex-direction: column;
    height: 450px;
    
    
}
.teclado-pdv{
    display: flex;
    
    
} 
.teclas-pdv{
    width: 74px;
    height: 74px;
    margin: 5px;
    border-radius: 7px;
    background-color: rgba(68, 93, 100, 0.055); 
    text-align: center;
    padding-top: 20px;  
    color: rgb(95, 95, 95);
}
.teclas-pdv:hover{
    background-color: rgb(33, 42, 44);
color: white;
}


#tecla-0-pdv{
    width: 160px;
}
#tecla-enter{
    height: 244px;
    position: absolute;
    margin-left: 260px;
    padding-top: 110px;
}
.div-sub-total-pdv{
    display: flex;
    height: 90px;
    margin-left: 365px;
}
.inp-sub-total-pdv{
    width: 340px;
    height: 60px;
    margin-left: 24px;
    font-size: 45px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(0, 0, 0, 0.336);
    border-top: none;
    text-align: right;
    padding-right: 20px;

}
.div-sub-total-pdv p{
    font-size: 30px;
    
    
}


.button-pdv {
    display: flex;
    align-items: center;
    max-width: 1360px;
    height: 90px;
    margin-left: 30px;
    

}

.btn-pdv {
    width: 150px;
    height: 60px;
    margin: 10px 25px 10px 0px;
    border-radius: 7px;
    background-color: rgb(68, 93, 100);
    color: white;
    border: none;
}
.btn-pdv:hover{
    background-color: rgb(33, 42, 44);
}

footer {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(103, 140, 150);
    color: white;
}

.teclas-inf-pdv{
    
    width: 102px;

}